@import "tailwindcss";

@theme {
  --breakpoint-xs: 400px;
}

* {
  scroll-behavior: smooth;
  font-family: var(--normal-font);
}

:root {
  --brand-color: #2b325e;
  --heading-font: "Rajdhani", sans-serif;
  --normal-font: "Lato", sans-serif;
}

.heading-text {
  font-family: var(--heading-font);
}